@import url("./__window/popup__window.css");
@import url("./__text/popup__text.css");
@import url("./_opened/popup_opened.css");
@import url("./__form/popup__form.css");
@import url("./__save-button/popup__save-button.css");
@import url("./__save-button__image/popup__save-button__image.css");
@import url("./__close-button/popup__close-button.css");
.popup{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0 , 0.5);
    position: fixed;
}