@import url("./__window/popup__window.css");
@import url("./__text/popup__text.css");
@import url("./__form/popup__form.css");
@import url("./__save-button/popup__save-button.css");
@import url("./__close-button/popup__close-button.css");
@import url("./__content/popup__content.css");
@import url("./__image_image/popup__image_image.css");
@import url("./__caption_image/popup__caption_image.css");
.popup{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0 , 0.5);
    position: fixed;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
}
