@import url("./__image/card__image.css");
@import url("./__content/card__content.css");
@import url("./__text/card__text.css");
@import url("./__description/card__description.css");
@import url("./__like-button/card__like-button.css");
.card{
    margin-right:18px;
    margin-bottom: 21px;
}
.card:nth-child(3n){
    margin:0;
} 
@media screen and (max-width:880px){
    .card:nth-child(3n){
        margin-right:18px;
        margin-bottom: 21px;
    }
}
@media screen and (max-width: 400px){
    .card{
        margin: auto;
        margin-bottom: 20px;
    }
    .card:nth-child(3n){
       margin: auto;
       margin-bottom: 20px;
}
}
