@import url("./__image/card__image.css");
@import url("./__text/card__text.css");
@import url("./__description/card__description.css");
@import url("./__like-button/card__like-button.css");
@import url("./__delete-button/card__delete-button.css");
.card{
    margin-bottom: 21px;
    position: relative;
}

@media screen and (min-width:881px){
.card:nth-child(3n){
    margin-right:18px;
    margin-left:18px;
} 
}
@media screen and (max-width:880px){
    .card:nth-child(2n){
        margin-right:18px;
        margin-left:18px;
    }
}
@media screen and (max-width: 400px){
    .card{
        margin: auto;
        margin-bottom: 20px;
    }
    .card:nth-child(3n){
       margin: auto;
       margin-bottom: 20px;
}
}
